extend layout
block content
  #controls.col-md-12
    ul.list-inline
      li
        button#connect.btn.btn-success
          i.fa.fa-sign-in
          | &nbsp;Connect
      li
        button#disconnect.btn.btn-danger
          i.fa.fa-sign-out
          | &nbsp;Disconnect
      li
        button#camera-and-microphone.btn.btn-primary
          | &nbsp;Camera and microphone
      li
        button#camera.btn.btn-primary
          i.fa.fa-camera
          | &nbsp;Camera
      li
        button#microphone.btn.btn-primary
          i.fa.fa-microphone
          | &nbsp;Microphone
      li
        button#screen.btn.btn-primary
          i.fa.fa-picture-o
          | &nbsp;Screen
  #info
  #participants
  ul#data
    li
      form#send
        input#text(type="text")
    // video elements go here

  if room
    script(type='text/javascript').
      CineIOPeer.join("#{room}")
  if identity
    script(type="text/javascript").
      CineIOPeer.identify("#{identity.identity}", "#{identity.timestamp}", "#{identity.signature}")
  if call
    script(type="text/javascript").
      CineIOPeer.call("#{call}")
